$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #0C76FF;
$secondary_paletteKeyColor: #727497;
$tertiary_paletteKeyColor: #7C70A3;
$neutral_paletteKeyColor: #747783;
$neutral_variant_paletteKeyColor: #727785;
$background: #FAF9FF;
$onBackground: #181B25;
$surface: #FAF9FF;
$surfaceDim: #D7D9E6;
$surfaceBright: #FAF9FF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F1F3FF;
$surfaceContainer: #EBEDFB;
$surfaceContainerHigh: #E5E7F5;
$surfaceContainerHighest: #E0E2EF;
$onSurface: #181B25;
$surfaceVariant: #DEE2F2;
$onSurfaceVariant: #424754;
$inverseSurface: #2D303A;
$inverseOnSurface: #EEF0FD;
$outline: #707482;
$outlineVariant: #C2C6D6;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #0059C6;
$primary: #0059C6;
$onPrimary: #FFFFFF;
$primaryContainer: #D9E2FF;
$onPrimaryContainer: #001A43;
$inversePrimary: #AFC6FF;
$secondary: #5A5C7E;
$onSecondary: #FFFFFF;
$secondaryContainer: #D6D7FF;
$onSecondaryContainer: #161937;
$tertiary: #796DA0;
$onTertiary: #FFFFFF;
$tertiaryContainer: #796DA0;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #D9E2FF;
$primaryFixedDim: #AFC6FF;
$onPrimaryFixed: #001A43;
$onPrimaryFixedVariant: #004398;
$secondaryFixed: #E0E0FF;
$secondaryFixedDim: #C2C3EB;
$onSecondaryFixed: #161937;
$onSecondaryFixedVariant: #424465;
$tertiaryFixed: #E8DDFF;
$tertiaryFixedDim: #CDBEF7;
$onTertiaryFixed: #1F1341;
$onTertiaryFixedVariant: #4B3F6F;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #E2E5F4;
$term1: #5651C2;
$term2: #3988AE;
$term3: #7E60B0;
$term4: #009993;
$term5: #5A61BB;
$term6: #6083AD;
$term7: #222226;
$term8: #0D0D0D;
$term9: #5651C2;
$term10: #3988AE;
$term11: #7E60B0;
$term12: #009993;
$term13: #5A61BB;
$term14: #6083AD;
$term15: #061942;
