$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #747685;
$secondary_paletteKeyColor: #75767F;
$tertiary_paletteKeyColor: #72768B;
$neutral_paletteKeyColor: #787678;
$neutral_variant_paletteKeyColor: #787678;
$background: #FCF8FA;
$onBackground: #1C1B1D;
$surface: #FCF8FA;
$surfaceDim: #DCD9DB;
$surfaceBright: #FCF8FA;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F6F3F4;
$surfaceContainer: #F0EDEF;
$surfaceContainerHigh: #EAE7E9;
$surfaceContainerHighest: #E5E2E3;
$onSurface: #1C1B1D;
$surfaceVariant: #E5E2E3;
$onSurfaceVariant: #474648;
$inverseSurface: #313032;
$inverseOnSurface: #F3F0F1;
$outline: #757476;
$outlineVariant: #C8C6C7;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #5B5E6C;
$primary: #5B5E6C;
$onPrimary: #FFFFFF;
$primaryContainer: #E0E1F3;
$onPrimaryContainer: #181B27;
$inversePrimary: #C4C5D6;
$secondary: #5D5E67;
$onSecondary: #FFFFFF;
$secondaryContainer: #E2E1EC;
$onSecondaryContainer: #1A1B23;
$tertiary: #6F7488;
$onTertiary: #FFFFFF;
$tertiaryContainer: #6F7488;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #E0E1F3;
$primaryFixedDim: #C4C5D6;
$onPrimaryFixed: #181B27;
$onPrimaryFixedVariant: #434654;
$secondaryFixed: #E2E1EC;
$secondaryFixedDim: #C6C6D0;
$onSecondaryFixed: #1A1B23;
$onSecondaryFixedVariant: #45464F;
$tertiaryFixed: #DEE1F9;
$tertiaryFixedDim: #C1C5DD;
$onTertiaryFixed: #161B2C;
$onTertiaryFixedVariant: #414659;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #E8E5E7;
$term1: #624DC2;
$term2: #3988AE;
$term3: #7E60B0;
$term4: #A67D8F;
$term5: #645EBB;
$term6: #6681AE;
$term7: #222226;
$term8: #0D0D0D;
$term9: #624DC2;
$term10: #3988AE;
$term11: #7E60B0;
$term12: #A67D8F;
$term13: #645EBB;
$term14: #6681AE;
$term15: #1C1A22;
