$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #FF089D;
$secondary_paletteKeyColor: #9B6A72;
$tertiary_paletteKeyColor: #A86462;
$neutral_paletteKeyColor: #857278;
$neutral_variant_paletteKeyColor: #887178;
$background: #FFF8F8;
$onBackground: #25181D;
$surface: #FFF8F8;
$surfaceDim: #ECD4DB;
$surfaceBright: #FFF8F8;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF0F3;
$surfaceContainer: #FFE8EE;
$surfaceContainerHigh: #FBE2E9;
$surfaceContainerHighest: #F5DCE3;
$onSurface: #25181D;
$surfaceVariant: #F8DBE4;
$onSurfaceVariant: #554148;
$inverseSurface: #3B2C32;
$inverseOnSurface: #FFECF1;
$outline: #856F76;
$outlineVariant: #DBBFC8;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #B7006F;
$primary: #B7006F;
$onPrimary: #FFFFFF;
$primaryContainer: #FFD9E5;
$onPrimaryContainer: #3E0022;
$inversePrimary: #FFB0CE;
$secondary: #80525A;
$onSecondary: #FFFFFF;
$secondaryContainer: #FEC2CB;
$onSecondaryContainer: #321018;
$tertiary: #A56260;
$onTertiary: #FFFFFF;
$tertiaryContainer: #A56260;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #FFD9E5;
$primaryFixedDim: #FFB0CE;
$onPrimaryFixed: #3E0022;
$onPrimaryFixedVariant: #8C0054;
$secondaryFixed: #FFD9DE;
$secondaryFixedDim: #F2B7C0;
$onSecondaryFixed: #321018;
$onSecondaryFixedVariant: #653B42;
$tertiaryFixed: #FFDAD8;
$tertiaryFixedDim: #FFB3B0;
$onTertiaryFixed: #380B0D;
$onTertiaryFixedVariant: #6F3634;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #F3E2E6;
$term1: #B12669;
$term2: #A97363;
$term3: #AD536A;
$term4: #A67F80;
$term5: #B23E7C;
$term6: #8D76AD;
$term7: #262023;
$term8: #0E0D0D;
$term9: #B12669;
$term10: #A97363;
$term11: #AD536A;
$term12: #A67F80;
$term13: #B23E7C;
$term14: #8D76AD;
$term15: #350D21;
