$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #0066FE;
$secondary_paletteKeyColor: #757498;
$tertiary_paletteKeyColor: #7F6FA2;
$neutral_paletteKeyColor: #747682;
$neutral_variant_paletteKeyColor: #737685;
$background: #FAF8FF;
$onBackground: #181B25;
$surface: #FAF8FF;
$surfaceDim: #D8D9E7;
$surfaceBright: #FAF8FF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #F2F3FF;
$surfaceContainer: #ECEDFB;
$surfaceContainerHigh: #E6E7F5;
$surfaceContainerHighest: #E0E2EF;
$onSurface: #181B25;
$surfaceVariant: #DFE2F2;
$onSurfaceVariant: #434654;
$inverseSurface: #2D303A;
$inverseOnSurface: #EFF0FE;
$outline: #717483;
$outlineVariant: #C3C6D6;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #0055D5;
$primary: #0055D5;
$onPrimary: #FFFFFF;
$primaryContainer: #DAE1FF;
$onPrimaryContainer: #001849;
$inversePrimary: #B3C5FF;
$secondary: #5C5B7E;
$onSecondary: #FFFFFF;
$secondaryContainer: #D8D6FF;
$onSecondaryContainer: #181837;
$tertiary: #7C6C9F;
$onTertiary: #FFFFFF;
$tertiaryContainer: #7C6C9F;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #DAE1FF;
$primaryFixedDim: #B3C5FF;
$onPrimaryFixed: #001849;
$onPrimaryFixedVariant: #003FA4;
$secondaryFixed: #E2DFFF;
$secondaryFixedDim: #C5C3EA;
$onSecondaryFixed: #181837;
$onSecondaryFixedVariant: #444465;
$tertiaryFixed: #EADDFF;
$tertiaryFixedDim: #D0BDF6;
$onTertiaryFixed: #211240;
$onTertiaryFixedVariant: #4E3F6E;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #E3E5F4;
$term1: #5C4FC2;
$term2: #3988AE;
$term3: #7E60B0;
$term4: #009993;
$term5: #5E60BB;
$term6: #6382AE;
$term7: #222226;
$term8: #0D0D0D;
$term9: #5C4FC2;
$term10: #3988AE;
$term11: #7E60B0;
$term12: #009993;
$term13: #5E60BB;
$term14: #6382AE;
$term15: #061942;
