$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #FF0086;
$secondary_paletteKeyColor: #9D6A69;
$tertiary_paletteKeyColor: #A86651;
$neutral_paletteKeyColor: #867276;
$neutral_variant_paletteKeyColor: #897177;
$background: #FFF8F8;
$onBackground: #26181C;
$surface: #FFF8F8;
$surfaceDim: #EDD4D9;
$surfaceBright: #FFF8F8;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #FFF0F2;
$surfaceContainer: #FFE8ED;
$surfaceContainerHigh: #FCE2E7;
$surfaceContainerHighest: #F6DCE1;
$onSurface: #26181C;
$surfaceVariant: #F9DBE1;
$onSurfaceVariant: #564147;
$inverseSurface: #3C2C30;
$inverseOnSurface: #FFECEF;
$outline: #866E74;
$outlineVariant: #DCBFC6;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BA0060;
$primary: #BA0060;
$onPrimary: #FFFFFF;
$primaryContainer: #FFD9E2;
$onPrimaryContainer: #3F001C;
$inversePrimary: #FFB1C7;
$secondary: #815251;
$onSecondary: #FFFFFF;
$secondaryContainer: #FEBFBE;
$onSecondaryContainer: #331111;
$tertiary: #A5644F;
$onTertiary: #FFFFFF;
$tertiaryContainer: #A5644F;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #FFD9E2;
$primaryFixedDim: #FFB1C7;
$onPrimaryFixed: #3F001C;
$onPrimaryFixedVariant: #8E0048;
$secondaryFixed: #FFDAD8;
$secondaryFixedDim: #F5B7B6;
$onSecondaryFixed: #331111;
$onSecondaryFixedVariant: #663B3A;
$tertiaryFixed: #FFDBD0;
$tertiaryFixedDim: #FFB59E;
$onTertiaryFixed: #370D02;
$onTertiaryFixedVariant: #6E3725;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #F3E2E4;
$term1: #B3265F;
$term2: #A97363;
$term3: #AD5363;
$term4: #A67F7E;
$term5: #B24073;
$term6: #8D76AD;
$term7: #272023;
$term8: #0E0D0D;
$term9: #B3265F;
$term10: #A97363;
$term11: #AD5363;
$term12: #A67F7E;
$term13: #B24073;
$term14: #8D76AD;
$term15: #360C1D;
