$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #6B7980;
$secondary_paletteKeyColor: #70787C;
$tertiary_paletteKeyColor: #647A84;
$neutral_paletteKeyColor: #777778;
$neutral_variant_paletteKeyColor: #777778;
$background: #121314;
$onBackground: #E3E2E2;
$surface: #121314;
$surfaceDim: #121314;
$surfaceBright: #38393A;
$surfaceContainerLowest: #0D0E0F;
$surfaceContainerLow: #1B1C1C;
$surfaceContainer: #1F2020;
$surfaceContainerHigh: #292A2B;
$surfaceContainerHighest: #343535;
$onSurface: #E3E2E2;
$surfaceVariant: #464747;
$onSurfaceVariant: #C7C6C7;
$inverseSurface: #E3E2E2;
$inverseOnSurface: #303031;
$outline: #919091;
$outlineVariant: #464747;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BAC9D0;
$primary: #BAC9D0;
$onPrimary: #253238;
$primaryContainer: #3B494F;
$onPrimaryContainer: #D6E5ED;
$inversePrimary: #526167;
$secondary: #C0C8CC;
$onSecondary: #2A3235;
$secondaryContainer: #40484C;
$onSecondaryContainer: #DCE4E8;
$tertiary: #B3CAD5;
$onTertiary: #1E333C;
$tertiaryContainer: #7E949E;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D6E5ED;
$primaryFixedDim: #BAC9D0;
$onPrimaryFixed: #0F1D23;
$onPrimaryFixedVariant: #3B494F;
$secondaryFixed: #DCE4E8;
$secondaryFixedDim: #C0C8CC;
$onSecondaryFixed: #151D20;
$onSecondaryFixedVariant: #40484C;
$tertiaryFixed: #CFE6F1;
$tertiaryFixedDim: #B3CAD5;
$onTertiaryFixed: #071E26;
$onTertiaryFixedVariant: #354A53;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #1A1B1B;
$term1: #8383FF;
$term2: #64DDE6;
$term3: #75FCDD;
$term4: #7AB3C6;
$term5: #7AAEEA;
$term6: #82D5E5;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F6FFFF;
$term11: #FFFFFF;
$term12: #BFE2EB;
$term13: #C8DAFF;
$term14: #F1FDFF;
$term15: #DDE3E5;
