$darkmode: False;
$transparent: False;
$primary_paletteKeyColor: #00BDFF;
$secondary_paletteKeyColor: #627995;
$tertiary_paletteKeyColor: #6576A5;
$neutral_paletteKeyColor: #6E7880;
$neutral_variant_paletteKeyColor: #6C7982;
$background: #F5FAFF;
$onBackground: #131D23;
$surface: #F5FAFF;
$surfaceDim: #D1DBE4;
$surfaceBright: #F5FAFF;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #EBF5FD;
$surfaceContainer: #E5EFF8;
$surfaceContainerHigh: #E0E9F2;
$surfaceContainerHighest: #DAE4EC;
$onSurface: #131D23;
$surfaceVariant: #D7E4EF;
$onSurfaceVariant: #3C4851;
$inverseSurface: #283238;
$inverseOnSurface: #E8F2FA;
$outline: #6A767F;
$outlineVariant: #BBC8D2;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00658B;
$primary: #00658B;
$onPrimary: #FFFFFF;
$primaryContainer: #C4E7FF;
$onPrimaryContainer: #001E2C;
$inversePrimary: #7DD0FF;
$secondary: #49607B;
$onSecondary: #FFFFFF;
$secondaryContainer: #C7DFFF;
$onSecondaryContainer: #021D35;
$tertiary: #6373A2;
$onTertiary: #FFFFFF;
$tertiaryContainer: #6373A2;
$onTertiaryContainer: #FFFFFF;
$error: #BA1A1A;
$onError: #FFFFFF;
$errorContainer: #FFDAD6;
$onErrorContainer: #410002;
$primaryFixed: #C4E7FF;
$primaryFixedDim: #7DD0FF;
$onPrimaryFixed: #001E2C;
$onPrimaryFixedVariant: #004C69;
$secondaryFixed: #D1E4FF;
$secondaryFixedDim: #B1C8E8;
$onSecondaryFixed: #021D35;
$onSecondaryFixedVariant: #324862;
$tertiaryFixed: #DAE2FF;
$tertiaryFixedDim: #B4C5F9;
$onTertiaryFixed: #041943;
$onTertiaryFixedVariant: #344571;
$success: #4F6354;
$onSuccess: #FFFFFF;
$successContainer: #D1E8D5;
$onSuccessContainer: #0C1F13;
$term0: #DAE8F2;
$term1: #1B5CC2;
$term2: #008CA2;
$term3: #7E60B0;
$term4: #009993;
$term5: #096CBC;
$term6: #2F89AD;
$term7: #202225;
$term8: #0D0D0D;
$term9: #1B5CC2;
$term10: #008CA2;
$term11: #7E60B0;
$term12: #009993;
$term13: #096CBC;
$term14: #2F89AD;
$term15: #001F2C;
